body {
    display: flex;
    justify-content: center;
}
#container {
    width: 960px;
}

.row {
    display: flex;
    justify-content: center;
}
.cell {
    background-color: red;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-collapse: collapse;
}