body {
  display: grid;
  margin: 0;
  justify-items: center;
  background-color: #dc143c;
}

#container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  overflow: hidden;
  background-color: grey;
}

.row {
  display: flex;
  justify-content: center;
}
.cell {
  background-color: white;
}

@media screen and (max-width: 600px) {
}
